*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
ul{
    font-size: 2rem;
    font-weight: 900;

    
}

input, select{
    height: 2rem;
}
#button{
    width: 10rem;
    background-color: aqua;
}
#container{
    background-color: #e4fbfb;
}